<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor=" let item of service.list">

            <td [ngClass]="{completed: item.completed}">{{item.title}}</td>
            <td [ngClass]="{completed: item.completed} ">{{item.optimalLine}} </td>
            <td><i class="fas fa-pen pointer " (click)="getInfos(item) "></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fas fa-trash-alt " (click)="DeleteTodo(item) "></i>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <button class="btn btn-secondary" (click)="service.filterlist('All')"> All </button>
    <button class="btn btn-secondary bt" (click)="service.filterlist('Active')"> Active </button>
    <button class="btn btn-secondary bt" (click)="service.filterlist('Completed')"> Completed </button>


</div>
<hr>
<button class="btn btn-dark " (click)="DeleteALLTodo() ">Clear All</button>